:root,
body,
.container {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	background-color: rgb(50, 50, 50);
	display: grid;
	grid-template-rows: 1fr 4fr;
	padding: 3vh;
}

.header {
	background-color: rgb(30, 30, 39);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: #0099d5;
}

.main-title {
	font-size: 10vh;
}

.secondary-title {
	font-size: 4vh;
}

.main-content {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 2vh;
	gap: 2vh;
}

.add-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.5vh solid #0099d5;
	background-color: rgb(30, 30, 39);
}

.add-button > img {
	height: 50%;
	width: 50%;
	transition-duration: 1s;
}

.add-button {
	transform: scale(1);
	transition-duration: 1s;
	animation: appear 0.5s ease-in-out;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.add-button:hover {
	cursor: pointer;
	background-color: rgba(51, 194, 51, 0.2);
}
.add-button:hover img {
	transform: rotate(90deg) scale(1.1);
}

.form {
	display: flex;
	flex-direction: column;
	border: 0.5vh solid #0099d5;
	background-color: rgb(30, 30, 39);
	padding: 10px 20px;
	justify-content: center;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

label,
input {
	margin: 4px 10px;
	font-size: 25px;
}

.buttons > *,
.book > button {
	height: 30px;
	font-weight: bold;
}

.buttons {
	margin: 15px 10px 5px;
	gap: 10px;
}

.buttons > * {
	margin: 0px 0;
	height: 40px;
	font-size: 25px;
}

.submit {
	background-color: green;
}

.submit:hover,
.submit:active {
	background-color: white;
	color: green;
}

.submit:active {
	border: 3px solid green;
}

.delete {
	background-color: red;
}

.delete:hover,
.delete:active {
	background-color: white;
	color: red;
}

.delete:active {
	border: 3px solid red;
}

.toggle {
	grid-area: 1/1/1/3;
}

.toggle.read {
	background-color: #0099d5;
}

.toggle.read:hover,
.toggle.read:active {
	background-color: white;
	color: #0099d5;
}

.toggle.read:active {
	border: 3px solid #0099d5;
}

.toggle.not-read:active {
	border: 3px solid orange;
}

.toggle.not-read {
	background-color: orange;
}

.toggle.not-read:hover,
.toggle.not-read:active {
	background-color: white;
	color: orange;
}

.none {
	display: none;
}

.book {
	display: grid;
	grid-template-rows: 10% 30% 20% 20% 20%;
	align-items: center;
	grid-template-columns: 1fr;
	border: 0.5vh solid #0099d5;
	background-color: rgb(30, 30, 39);
	padding: 20px;
	color: white;
	font-size: 25px;
}

.book > * {
	margin: 10px 0;
}

.book-title {
	font-size: 30px;
	font-weight: bold;
	grid-area: 2/1/3/2;
}

.book-author {
	grid-area: 3/1/4/2;
}

.book-page {
	grid-area: 4/1/5/2;
}

.book > button {
	grid-area: 5/1/6/2;
	font-size: 20px;
	height: 40px;
}

.cancel-image {
	height: 30px;
	margin-left: 92%;
}

.cancel-image:hover {
	transform: scale(1.4);
	transition-duration: 1s;
}
